<fieldset id="targets" class="fieldset">
    <legend class="fieldSetLegend">{{targetsHeading}}</legend>
    <section id="targetSubTypeSelector">
        <app-captioned-radio #singleSymbolTargetSubTypeControl id="singleSymbolTargetSubTypeControl" inputId="singleSymbolTargetSubTypeRadio" [name]="targetSubTypeRadioName"></app-captioned-radio>
        <app-captioned-radio #multiSymbolTargetSubTypeControl id="multiSymbolTargetSubTypeControl" inputId="multiSymbolTargetSubTypeRadio" [name]="targetSubTypeRadioName"></app-captioned-radio>
        <app-captioned-radio #singleMarketTargetSubTypeControl id="singleMarketTargetSubTypeControl" inputId="singleMarketTargetSubTypeRadio" [name]="targetSubTypeRadioName"></app-captioned-radio>
        <app-captioned-radio #multiMarketTargetSubTypeControl id="multiMarketTargetSubTypeControl" inputId="multiMarketTargetSubTypeRadio" [name]="targetSubTypeRadioName"></app-captioned-radio>
    </section>
    <section id="targetSubTypes">
        <div [style.display]="isSingleSymbolSubTargetType() ? null : 'none'">
            <p class="subTargetTypeHeading">Target a single symbol</p>
            <app-lit-ivem-id-select #singleSymbolControl id="singleSymbolControl"></app-lit-ivem-id-select>
        </div>
        <div [style.display]="isMultiSymbolSubTargetType() ? null : 'none'">
            <p class="subTargetTypeHeading">Target multiple symbols</p>

        </div>
        <div [style.display]="isSingleMarketSubTargetType() ? null : 'none'">
            <p class="subTargetTypeHeading">Target a single whole market</p>
            <app-enum-input #singleMarketControl id="singleMarketControl"></app-enum-input>
        </div>
        <div [style.display]="isMultiMarketSubTargetType() ? null : 'none'">
            <p class="subTargetTypeHeading">Target multiple whole markets</p>
            <app-enum-array-input #multiMarketControl id="multiMarketControl"></app-enum-array-input>
        </div>
    </section>
</fieldset>
