
# Motif
node_modules/
/motif/.angular/cache
/motif/releases/
/motif/deployments/
/motif/dist/
/motif/dev_static/
/motif/debug.log
/motif/api/
/motif/lib/
/motif/temp/
/motif/out-tsc/
/motif/src/generated/version.txt
/motif/src/generated/build-info.ts
/motif/$null
/extensions/**/dist/*
/extensions/highcharts/src/blue-frame.ts
/extensions/highcharts/app/command-parameters/highstock-chart-command-parameters-component-directive.ts
/extensions/highcharts/app/command-parameters/add-security-series-highstock-chart-command-parameters/add-security-series-highstock-chart-command-parameters.component.html
/extensions/highcharts/app/command-parameters/add-security-series-highstock-chart-command-parameters/add-security-series-highstock-chart-command-parameters.component.scss
/extensions/highcharts/app/command-parameters/add-security-series-highstock-chart-command-parameters/add-security-series-highstock-chart-command-parameters.component.ts
/extensions/highcharts/app/highstock-chart/highstock-chart.component.html
/extensions/highcharts/app/highstock-chart/highstock-chart.component.scss
/extensions/highcharts/app/highstock-chart/highstock-chart.component.ts
/extensions/highcharts/app/highstock-chart-ditem/highstock-chart-ditem.component.html
/extensions/highcharts/app/highstock-chart-ditem/highstock-chart-ditem.component.scss
/extensions/highcharts/app/highstock-chart-ditem/highstock-chart-ditem.component.ts
/extensions/highcharts/app/highstock-chart-status-bar/highstock-chart-status-bar.component.html
/extensions/highcharts/app/highstock-chart-status-bar/highstock-chart-status-bar.component.scss
/extensions/highcharts/app/highstock-chart-status-bar/highstock-chart-status-bar.component.ts
/extensions/highcharts/out-tsc/
/**/.vscode/**/*
!/**/editor-configs/.vscode/**/*
motif/src/config/SelfWealth-Standard.svg
