@import './partials/top-bordered-fieldset-mixin';
@import './partials/top-bordered-fieldset-legend-mixin';

:host {
    display: flex;
    flex-direction: column;
}

.fieldset {
    @include topBorderedFieldsetMixin;
}

.fieldSetLegend {
    @include topBorderedFieldsetLegendMixin;
}

#notifiers {
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin-top: 1em;

    #predefinedNotifiers {
        display: flex;
        gap: .7em;
    }

    #allNotifiersControl {
        width: 35em;
    }

    #notifyParams {
        display: grid;
        grid-template-columns: max-content max-content;
        column-gap: 2rem;
        row-gap: 0.5rem;
        align-items: center;

        app-caption-label {
            grid-column: 1;
        }

        #minimumStableTimeControl {
            width: 6em;
        }
        #minimumElapsedTimeControl {
            width: 6em;
        }
    }
}
