<fieldset id="notifiers" class="fieldset">
    <legend class="fieldSetLegend">{{notifiersHeading}}</legend>
    <section id="predefinedNotifiers">
        <app-captioned-checkbox #mobileNotifierControl id="mobileNotifierControl" inputId="mobileNotifierCheckbox"></app-captioned-checkbox>
        <app-captioned-checkbox #smsNotifierControl id="smsNotifierControl" inputId="smsNotifierCheckbox"></app-captioned-checkbox>
        <app-captioned-checkbox #emailNotifierControl id="emailNotifierControl" inputId="emailNotifierCheckbox"></app-captioned-checkbox>
        <app-captioned-checkbox #motifNotifierControl id="motifNotifierControl" inputId="motifNotifierCheckbox"></app-captioned-checkbox>
    </section>
    <app-enum-array-input #allNotifiersControl id="allNotifiersControl" inputId="allNotifiersInput" inputSize="10em"></app-enum-array-input>

    <section id="notifyParams">
        <app-caption-label #minimumStableTimeLabel for="minimumStableTimeInput"></app-caption-label>
        <app-integer-text-input #minimumStableTimeControl id="minimumStableTimeControl" inputId="minimumStableTimeInput"></app-integer-text-input>
        <app-caption-label #minimumElapsedTimeLabel for="minimumElapsedTimeInput"></app-caption-label>
        <app-integer-text-input #minimumElapsedTimeControl id="minimumElapsedTimeControl" inputId="minimumElapsedTimeInput"></app-integer-text-input>
    </section>
</fieldset>
