<section id="leftButtonsSection" class="sideButtons">
    <app-button-input #leftContactMeButton></app-button-input>
    <app-button-input #leftInterestedButton></app-button-input>
    <app-button-input #leftSimilarButton></app-button-input>
    <app-button-input #leftNotInterestedButton></app-button-input>
</section>
<section id="advertSection" >
    <section id="leftAdWords">
        <h1 id="spectaculus" class="nowrap">Spectaculix Travel</h1>
        <h2 id="arizona" class="nowrap">See Magical Arizona</h2>
    </section>
    <img id="advertImg" src="/assets/img/navajo-point-robert-montgomery-reduced.jpg">
    <section id="rightWordsSection">
        <section id="rightAdWords">
            <h2 id="findOutMore" class="nowrap">Find out more about our great pricing</h2>
            <a id="href" href="https://spectaculix.com/arizona">https://spectaculix.com/arizona</a>
            <p id="phoneNumber" class="nowrap">(01) 2345 6789</p>
        </section>
        <section id="attributionSection">
            <span id="attribution">Photo of Navajo Point by Robert Montgomery (CC BY 2.0)</span>
        </section>
    </section>
</section>
<section id="rightButtonsSection" class="sideButtons">
    <app-button-input #rightContactMeButton></app-button-input>
    <app-button-input #rightInterestedButton></app-button-input>
    <app-button-input #rightSimilarButton></app-button-input>
    <app-button-input #rightNotInterestedButton></app-button-input>
</section>
