:host {
    display: block;
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
}

#heading {
    display: block;
    padding-bottom: 0.5rem;
    font-size: larger;
}

#controls {
    display: grid;
    grid-template-columns: max-content max-content;
    column-gap: 2rem;
    row-gap: 0.5rem;
    align-items: center;
    padding-left: 2rem;

    #symbolNameFieldControl {
        width: 8em;
    }
}
