<span id="heading">{{abbreviatedExchangeDisplay}} - {{fullExchangeDisplay}}</span>
<section id="controls">
    <app-caption-label #symbolNameFieldLabel for="symbolNameFieldSelect"></app-caption-label>
    <app-integer-enum-input #symbolNameFieldControl id="symbolNameFieldControl" inputId="symbolNameFieldSelect"></app-integer-enum-input>
    <app-caption-label #symbolSearchFieldsLabel for="symbolSearchFieldsInput"></app-caption-label>
    <app-enum-array-input #symbolSearchFieldsControl id="symbolSearchFieldsControl" inputId="symbolSearchFieldsInput" inputSize="6em"></app-enum-array-input>
</section>
