@import './partials/top-bordered-fieldset-mixin';
@import './partials/top-bordered-fieldset-legend-mixin';

:host {
    display: flex;
    flex-direction: column;
}

.fieldset {
    @include topBorderedFieldsetMixin;
}

.fieldSetLegend {
    @include topBorderedFieldsetLegendMixin;
}

#viewTypeSelector {
    display: flex;
    gap: 1em;

    #predefinedViewTypeControl {
        margin-left: 1em;
    }
}

