<fieldset id="criteria" class="fieldset">
    <legend class="fieldSetLegend">{{criteriaHeading}}</legend>
    <section id="viewTypeSelector">
        <app-captioned-checkbox #defaultViewControl id="defaultViewControl" inputId="defaultViewCheckbox"></app-captioned-checkbox>
        <app-captioned-radio #predefinedViewTypeControl id="predefinedViewTypeControl" inputId="predefinedViewTypeRadio" [name]="viewTypeRadioName"></app-captioned-radio>
        <app-captioned-radio #formulaViewTypeControl id="formulaViewTypeControl" inputId="formulaViewTypeRadio" [name]="viewTypeRadioName"></app-captioned-radio>
        <app-captioned-radio #zenithViewTypeControl id="zenithViewTypeControl" inputId="zenithViewTypeRadio" [name]="viewTypeRadioName"></app-captioned-radio>
    </section>
    <ng-template #typeContainer></ng-template>
</fieldset>
