:host {
    display: flex;
    align-items: center;
    margin-bottom: .3em;

    #buttons {
        display: flex;
        align-items: center;
        height: 1.4em;
        > * {
            height: inherit;
            width: 1.4em;
        }
    }

    #headingText {
        font-size: larger;
        margin: 0em 0.4em 0em 0.4em;
    }

    #preHeadingTextLine {
        flex: 0 0 1em;
    }

    #genericSelectorSection {
        display: flex;
        align-items: center;
        margin-right: 0.4em;

        #preGenericSelectorLine {
            flex: 0 0 1em;
        }

        #genericSelectorCaption {
            margin: 0em 0.4em 0em 0.4em;
        }
    }

    #midLine {
        flex: 1 1 auto;
    }

    #postLine {
        flex: 0 0 0.5em;
    }

    .line {
        height: 1px;
    }
}
