:host {
    display: flex;
    align-items: center;
    margin-bottom: .3em;

    #buttons {
        display: flex;
        align-items: center;
        height: 1.4em;
        > * {
            height: inherit;
            width: 1.4em;
        }
    }

    #headingText {
        font-size: larger;
        margin: 0em 0.5em 0em 0em;
    }

    #beforeLine {
        flex: 0 0 1em;
    }

    #afterLine {
        flex: 1 1 auto;
    }

    .line {
        height: 1px;
    }
}
