:host {
    display: flex;
    flex-direction: column;
    height: 100%;
}

:host as-split-area {
    overflow-y: hidden !important;
}

#gridArea {
    display: flex;
    height: 100%;
}

#gridDiv {
    display: flex;
    position: relative;
    height: 100%;
    width: 100%;
}

#grid {
    width: 100%;
    height: 100%;
}
